<div class="about-me-wrapper">
    <app-header></app-header>
    <div class="content-wrapper">
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">A proficient Full Stack Software Engineer with more than 11 years of experience delivering code to a consistently high standard. My extensive knowledge helps to inform practical solutions which are deployed with the utmost efficiency. Supported by a proven track record of developing software on numerous different platforms, I am continuously seeking to improve upon my ever-growing development knowledge.<br><br>“In order to be irreplaceable, one must always be different”<br>– Coco Chanel</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Experience:</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Software Engineer - Pyrix Inc</p>
                <p class="project-section-content">June 2018 - Present (4 years)<br>Waxhaw, NC</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Software Engineer - LEAD Technologies, Inc (LEADTOOLS)</p>
                <p class="project-section-content">April 2015 - June 2018 (3 Years 3 Months)<br>Charlotte, NC</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Software Developer - Global Solutions</p>
                <p class="project-section-content">September 2012 - April 2015 (2 Years 8 Months)<br>Lancaster, SC</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Data Analyst - Firebird Resources</p>
                <p class="project-section-content">January 2012 - December 2012 (1 Year)<br>Jefferson, SC</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Junior Software Developer - Office Environments</p>
                <p class="project-section-content">July 2007 - December 2011 (4 Years 6 Months)<br>Charlotte, NC</p>
            </div>
            <div class="spacer"></div>
        </div>
        <canvas #canvas class="background-canvas" id="canvas" style="position:absolute; z-index: -1000;"></canvas>
    </div>
</div>