<div class="projects-wrapper">
    <app-header></app-header>
    <div class="content-wrapper">
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Below are just a few of the MANY projects I have had the privilege of being a part of over the past 10+ years of my Software Engineering career.</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section">
            <div class="project-section-img">
                <img class="angular-chat-img" src="/assets/angular-chat.png" />
            </div>
            <div class="project-section-text">
                <p class="project-section-header">Angular PWA Trackside Management Application</p>
                <p class="project-section-content">Technologies:<br>Angular (versions 7-12)<br>Progressive Web
                    Application<br>SignalR<br>Typescript<br>HTML/CSS</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">ASP.NET Web API Backend<br>for Trackside Management Application</p>
                <p class="project-section-content">Technologies:<br>ASP.NET Web API<br>SQL
                    Server<br>OData<br>SignalR<br>C#<br>JWT Token Authentication<br>Active Directory Federation Services
                </p>
            </div>
            <div class="project-section-img">
                <img class="dotnet-web-api-img" src="/assets/dotnet-web-api.png" />
            </div>
        </div>
        <div class="project-section">
            <div class="project-section-img">
                <img class="angular-chat-img" src="/assets/ios-development.png" />
            </div>
            <div class="project-section-text">
                <p class="project-section-header">SwiftUI iOS Trackside Management Application</p>
                <p class="project-section-content">Technologies:<br>iOS<br>Swift<br>SwiftUI<br>XCode<br>SignalR - Web
                    Sockets</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Microservice Architecture for Live Race Data</p>
                <p class="project-section-content">Technologies:<br>.NET Framework - .NET
                    6<br>Docker<br>Security<br>C#<br>Windows<br>Linux</p>
            </div>
            <div class="project-section-img">
                <img class="pictures-videos-microservice-img" src="/assets/pictures-videos-microservice.png" />
            </div>
        </div>
        <div class="project-section">
            <div class="project-section-img">
                <img class="microservice-management-img" src="/assets/microservice-management.png" />
            </div>
            <div class="project-section-text">
                <p class="project-section-header">Angular Microservice Lifecycle Monitor</p>
                <p class="project-section-content">Technologies:<br>Angular (versions
                    7-12)<br>SignalR<br>Typescript<br>HTML/CSS</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">iOS Point of Interest Map Application</p>
                <p class="project-section-content">Technologies:<br>iOS<br>Swift<br>SwiftUI<br>XCode<br>SignalR - Web
                    Sockets<br>iOS MapKit</p>
            </div>
            <div class="project-section-img">
                <img class="point-of-interest-map-img" src="/assets/point-of-interest-map.png" />
            </div>
        </div>
        <div class="project-section">
            <div class="project-section-img">
                <img class="image-classification-img" src="/assets/image-classification.png" />
            </div>
            <div class="project-section-text">
                <p class="project-section-header">Object Detection & Image Classification</p>
                <p class="project-section-content">
                    Technologies:<br>Python<br>Flask<br>Tensorflow<br>OpenCV<br>YoloV3<br>ML.NET<br>Onnx</p>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="project-section2">
            <div class="spacer"></div>
            <div class="project-section-text">
                <p class="project-section-header">Furniture Ecommerce Website</p>
                <p class="project-section-content">Technologies:<br>Classic ASP<br>VBScript<br>Webforms<br>C#</p>
            </div>
            <div class="project-section-img">
                <img class="ecommerce-img" src="/assets/ecommerce.jpg" />
            </div>
        </div>
        <div class="project-section">
            <div class="project-section-img">
                <img class="website-design-development-img" src="/assets/website-design-development.jpg" />
            </div>
            <div class="project-section-text">
                <p class="project-section-header">Website Design & Development</p>
                <p class="project-section-content">Technologies:<br>Angular 7-12<br>HTML/CSS<br>Typescript<br>Javascript
                </p>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
    <canvas #canvas class="background-canvas" id="canvas" style="position:absolute; z-index: -1000;"></canvas>
</div>